.account-container {
	display: flex;
}

.account-tabnav {
	display: flex;
	flex-direction: column;
	justify-content: start;
	margin: 0;
	padding: 3rem 0;
/*	background: #908299;*/
	background: #3D0060;
	color: #fff;
	width: 15rem;
	font-family: 'Archivo-Web';
}

.account-tabnav-item {
	padding: 0.25rem 1.5rem;
}

.account-tabnav-item:hover {
/*	background: #84778c;*/
	background: #8f6ea3;
}

.account-tabnav-item-current, .account-tabnav-item-current:hover {
/*	background: #fff;
	color: #210b2d;*/
	text-decoration: underline;
}

.account-settings-pane {
	padding: 1.75rem 1.5rem;
}

.test-item {
	background: rgba(0,0,255,0.2);
	border: 3px solid #00f;
	width: 60px;
	margin: 10px;
	text-align: center;
}
