
.navbar {
	width: 100%;
	padding: 2rem 1.5rem;
}

.navbar-center-brand {
	display: flex;
	flex-basis: auto;
	flex-grow: 1;
	justify-content: center;
}

.navbar-items {
	display: flex;
	flex-direction: row;
	flex-basis: 100%;
	align-items: center;
	justify-content: space-between;
}

.nav-link {
	color: inherit !important;
	font-family: 'Archivo-Web';
	font-weight: 500;
}

.nav-search-bar-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.nav-search-bar {
	background-image: url('../assets/img/np_magnifying-glass.svg');
	background-repeat: no-repeat;
	background-position: 0.3rem center;
	background-size: auto 1.75rem;
	background-color: transparent;
	border: none;
	outline: none;
	box-shadow: none;
	color: inherit;
	font-family: 'Archivo-Web';
	padding-left: 2.3rem;
	width: 2.3rem;
	transition: 0.4s width ease-in-out;
}

/* keep search bar open if it's in focus or has content */
.nav-search-bar:focus, .nav-search-bar:not(:placeholder-shown) {
	width: 15rem;
}

.nav-search-bar::placeholder {
	color: inherit;
	opacity: 0.75;
}
