.profile-dashboard {
	display: flex;
	flex-direction: row;
	margin: 1.5rem auto;
}

.profile-header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.profile-picture {
	margin-right: 1.5rem;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	background-color: #fff;
	background-size: cover;
	box-shadow: 0 1px 11px #dadada;
}
