.profile-dashboard {
	display: flex;
	flex-direction: row;
	margin: 1.5rem auto;
}

.profile-header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.profile-picture {
	margin-right: 1.5rem;
	border-radius: 50%;
	width: 15rem;
	height: 15rem;
	background-color: #999;
	background-size: cover;
}

.profile-reviews {
	display: flex;
	flex-direction: column;
	align-content: space-around;
}
