.profile-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 1.5rem;
}

.profile-picture {
	margin-right: 1.5rem;
	border-radius: 50%;
	width: 15rem;
	height: 15rem;
	background-color: #999;
	background-size: cover;
}

.profile-dashboard {
	display: flex;
	flex-direction: row;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 1.5rem;
	margin-left: auto;
}

.profile-review-form {
	display: flex;
	flex-direction: column;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 1.5rem;
	margin-left: auto;
}

.profile-review-form-row-buffer {
	margin-bottom: 1rem;
}

.profile-review-list {
	display: flex;
	flex-direction: column;
	align-content: space-around;
}
