.review-component {
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 1.5rem;
	margin-left: auto;
	width: 100%;
}

.review-component:first-child {
	margin: 1.5rem auto;
}

.review-component:last-child {
	margin-top: 1.5rem auto;
}

.review-box {
	margin: 0 auto;
	padding: 1.75rem 1.5rem;
	color: #565361;
	background: #FFF;
	border-radius: 5px;
	box-shadow: 0 1px 11px #dadada;
}
