<h1>Security</h1>

<!-- Password -->
<section class="form-group">
	<label for="securityInputCurrentPassword">
		Current Password
		<input
		 type="password"
		 class="form-control"
		 id="securityInputCurrentPassword"
		 placeholder="Current password"
		 focusOnLoad
		>
	</label>
</section>

<!-- Password -->
<section class="form-group">
	<label for="securityInputNewPassword">
		New Password
		<input
		 type="password"
		 class="form-control"
		 id="securityInputNewPassword"
		 placeholder="Create a new password"
		>
	</label>
</section>

<!-- Password -->
<section class="form-group">
	<label for="securityInputConfirmNewPassword">
		Confirm new password
		<input
		 type="password"
		 class="form-control"
		 id="securityInputConfirmNewPassword"
		 placeholder="Confirm new password"
		>
	</label>
</section>
