<section class="account-settings-pane">

	<section class="account-settings-pane-row">

		<h1>Password</h1>

		<form>

			<section class="form-row">

				<!-- Current password -->
				<section class="form-group col-md-12">
					<label for="securityInputCurrentPassword">
						Current Password
					</label>
					<input
					 type="password"
					 class="form-control"
					 id="securityInputCurrentPassword"
					 focusOnLoad
					>
				</section>

			</section>

			<section class="form-row">

				<!-- New password -->
				<section class="form-group col-md-12">
					<label for="securityInputNewPassword">
						New Password
					</label>
					<input
					 type="password"
					 class="form-control"
					 id="securityInputNewPassword"
					>
				</section>

			</section>

			<section class="form-row">

				<!-- Confirm new password -->
				<section class="form-group col-md-12">
					<label for="securityInputConfirmNewPassword">
						Confirm new password
					</label>
					<input
					 type="password"
					 class="form-control"
					 id="securityInputConfirmNewPassword"
					>
				</section>

			</section>

			<button
			 type="submit"
			 class="button button-regular button-block"
			>
				Save changes
			</button>

		</form>

	</section>

	<section class="account-settings-pane-row">

		<h1>Delete Account</h1>

		<p>
			<strong>
				This action cannot be undone. You will be asked for your password
				to confirm.
			</strong>
		</p>

		<button class="button button-call-to-action button-block">
			Delete Account
		</button>

	</section>

</section>
