<header class="row">

	<nav class="navbar navbar-expand-lg navbar-light">

		<div class="navbar-items">

			<a class="navbar-brand" [routerLink]="['/home']">
				<img class="navbar-logo" src="/assets/img/logo/joule-cropped-transparent.svg" width="100" height="100" alt="Joule">
			</a> <!-- .navbar-brand -->

			<ul class="navbar-nav">
				<input type="search" class="nav-search-bar" placeholder="Search">
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['/user', user.id]">Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Log Out</a>
				</li>
			</ul>

		</div> <!-- .collapse .navbar-collapse -->

	</nav> <!-- navbar -->

</header> <!-- .row (header) -->

<section class="site-content no-padding">

	<div class="account-container">

		<ul class="account-tabnav">
			<li class="account-tabnav-item account-tabnav-item-current">
				Profile
			</li>
			<li class="account-tabnav-item">
				Security
			</li>
		</ul>

		<section class="account-settings-pane">

			<div class="test-item">Item One</div>

		</section>

	</div>

</section>
