<header class="row">

	<nav class="navbar navbar-expand-lg navbar-light">

		<div class="navbar-items">

			<a class="navbar-brand" [routerLink]="['/home']">
				<img
				 class="navbar-logo"
				 src="/assets/img/logo/joule-cropped-transparent.svg"
				 width="100"
				 height="100"
				 alt="Joule"
				>
			</a>

			<ul class="navbar-nav">
				<input type="search" class="nav-search-bar" placeholder="Search">
				<li class="nav-item">
					<a 
					 class="nav-link"
					 [routerLink]="['/user', user.id, 'account', 'profile']"
					>
						Account
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						Log Out
					</a>
				</li>
			</ul>

		</div>

	</nav>

</header>

<section class="site-content">

	<section class="profile-header">

		<img
		 class="profile-picture"
		 src="/assets/img/np_profile.svg"
		 alt="profile-picture"
		>

		<section class="profile-employee-information">

			<h1>{{ user.firstName }} {{ user.lastName }}</h1>
			<h2>{{ user.jobTitle }}, {{ user.employer }}</h2>
			<h3>{{ user.location }}</h3>

		</section>

	</section>

	<section class="profile-dashboard">

		<app-rating-box
		 [rating]="avgAccountabilityRating"
		 [descriptor]="'Accountability'"
		>
		</app-rating-box>

		<app-rating-box
		 [rating]="avgAvailabilityRating"
		 [descriptor]="'Availability'"
		>
		</app-rating-box>

		<app-rating-box
		 [rating]="avgPolitenessRating"
		 [descriptor]="'Politeness'"
		>
		</app-rating-box>

		<app-rating-box
		 [rating]="avgEfficiencyRating"
		 [descriptor]="'Efficiency'"
		>
		</app-rating-box>

	</section>

	<section class="profile-reviews">

		<app-review
		 *ngFor="let review of reviews"
		 class="review-component"
		 [review]="review"
		>
		</app-review>

	</section>

</section>
