<div class="container" *ngIf="user">

<nav class="navbar navbar-expand-lg navbar-light">
	<div class="navbar-center-brand">
		<a class="navbar-brand" [routerLink]="['/home']">
			<img class="navbar-logo" src="/assets/img/logo/joule-cropped-transparent.svg" width="125" height="125" alt="Joule">
		</a> <!-- .navbar-brand -->
	</div> <!-- .navbar-center-brand -->
</nav> <!-- navbar -->

<section class="col col-sm-4 col-md-6 col-lg-4 site-content">
	<h1>Sign Up</h1>


	<form [formGroup]="myForm">  

		<!-- Email -->
		<section class="form-group">
			<input [(ngModel)]="user.email" type="email" class="form-control" id="registrationInputEmailAddress" placeholder="Email address" formControlName="email">	
		</section>
		<div class="alert" *ngIf="!myForm.controls['email'].valid && myForm.controls['email'].touched">{{ titleAlert }}</div>

		<!-- First Name -->
		<section class="form-group">
			<input [(ngModel)]="user.first_name" type="text" class="form-control" id="registrationInputFirstName" placeholder="First name" formControlName="firstName">
		</section>
		<div class="alert" *ngIf="!myForm.controls['firstName'].valid && myForm.controls['firstName'].touched">{{ titleAlert }}</div>

		<!-- Last Name -->
		<section class="form-group">
			<input [(ngModel)]="user.last_name" type="text" class="form-control" id="registrationInputLastName" placeholder="Last name" formControlName="lastName">
		</section>
		<div class="alert" *ngIf="!myForm.controls['lastName'].valid && myForm.controls['lastName'].touched">{{ titleAlert }}</div>

		<!-- Password -->
		<section class="form-group">
			<input [(ngModel)]="user.password"type="password" class="form-control" id="registrationInputPassword" placeholder="Create a password" formControlName="password">
		</section>
		<div class="alert" *ngIf="!myForm.controls['password'].valid && myForm.controls['password'].touched">{{ titleAlert }}</div>

	</form>


	<button type="submit" class="button button-call-to-action button-block" [disabled]="!myForm.valid" (click)=save()>Sign Up</button>

	<hr>

	<p class="text-center">Already have an account? <a [routerLink]="['/login']">Log In</a></p>

</section> <!-- .row (section) -->
</div>