<div class="container" *ngIf="user">

<nav class="navbar navbar-expand-lg navbar-light">
	<div class="navbar-center-brand">
		<a class="navbar-brand" [routerLink]="['/home']">
			<img class="navbar-logo" src="/assets/img/logo/joule-cropped-transparent.svg" width="125" height="125" alt="Joule">
		</a> <!-- .navbar-brand -->
	</div> <!-- .navbar-center-brand -->
</nav> <!-- navbar -->

<section class="col col-sm-4 col-md-6 col-lg-4 site-content">
	<h1>Sign Up</h1>

	<form> 

		<!-- Email address -->
		<section class="form-group">
			<input [(ngModel)]="user.email" type="email" class="form-control" id="registrationInputEmailAddress" placeholder="Email address" focusOnLoad [ngModelOptions]="{standalone: true}" required>
			<div *ngIf="user.invalid && (user.dirty || user.touched)" class="alert alert-danger">
				<div *ngIf="name.errors.required">
					Name is required.
				  </div>
				  <div *ngIf="name.errors.minlength">
					Name must be at least 4 characters long.
				  </div>
			</div>
		</section>

		<!-- First Name -->
		<section class="form-group">
			<input [(ngModel)]="user.name" type="text" class="form-control" id="registrationInputFirstName" placeholder="First name" [ngModelOptions]="{standalone: true}">
		</section>

		<!-- Last Name -->
		<section class="form-group">
			<input type="text" class="form-control" id="registrationInputLastName" placeholder="Last name">
		</section>

		<!-- Password -->
		<section class="form-group">
			<input type="password" class="form-control" id="registrationInputPassword" placeholder="Create a password">
		</section>

	</form>

	<button type="submit" class="button button-call-to-action button-block"  (click)=save()>Sign Up</button>

	<hr>

	<p class="text-center">Already have an account? <a [routerLink]="['/login']">Log In</a></p>

</section> <!-- .row (section) -->
</div>