<header class="row">

	<nav class="navbar navbar-expand-lg navbar-light">

		<div class="navbar-items">
			
			<a class="navbar-brand" [routerLink]="['/home']">
				<img class="navbar-logo" src="/assets/img/logo/joule-cropped-transparent.svg" width="100" height="100" alt="Joule">
			</a> <!-- .navbar-brand -->

			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['/registration']">Sign Up</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['/login']">Log In</a>
				</li>
			</ul>

		</div> <!-- .collapse .navbar-collapse -->

	</nav> <!-- navbar -->

</header> <!-- .row (header) -->

<section class="site-content">
	<h1>Home Page Component</h1>
	<p>The home page <a href="#">works!</a></p>
</section> <!-- .row (section) -->
