<header class="row">
	<nav class="navbar navbar-expand-lg navbar-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#page-navbarToggler" aria-controls="page-navbarToggler" aria-expanded="false" aria-label="Toggle Navigation">
			<span class="navbar-toggler-icon"></span>
		</button> <!-- hamburger menu button -->
		<div class="collapse navbar-collapse" id="page-navbarToggler">
			<a class="navbar-brand" href="#">
				<img class="navbar-logo" src="/assets/img/logo/joule-cropped-transparent.svg" width="125" height="125" alt="Joule">
			</a> <!-- .navbar-brand -->

		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a href="#">Log In</a>
			</li>
		</ul>

		</div> <!-- .collapse .navbar-collapse -->
	</nav> <!-- navbar -->
</header> <!-- .row (header) -->

<main class="row site-content">
	<router-outlet></router-outlet>
</main> <!-- .row .site-content -->
