
<!-- Review List -->
<div>
    <h4>Tristan's reviews
        <h4 class="text-muted d-inline">({{reviews.length}})</h4>
      </h4>
      <div *ngIf="reviews.length == 0 || reviews.length == undefined">
        <br/>
        <p>Leave a review for Tristan Knotts</p>
      </div>
      <div class="card mb-4" *ngFor="let review of reviews">

        <div class="card-header">
         <!-- <app-ratings [rating]="userReview.overallRating"></app-ratings> -->
        </div>
        <div class="card-body bg-light">
          <span class="col-md-12 clearfix">
            <p class="text-muted col-md-4 float-left">{{review.revieweeName}}</p>
            <p class="text-muted float-right">{{date | date:'MMM d, y'}}</p>
          </span>
          <p class="card-text col-md-4">"{{review.comment}}"</p>
        </div>
      </div>


</div>

<!-- Add Review -->
<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-light">
          Add Review
        </div>
        <div class="card-body" style="background-color:#2D7EFF">
          <div class="row">
            <div class="form-group col-md-8">
              <label class="mb-2" for="name">Your Name</label>
              <input type="text" id="name" class="form-control expand round-edge" [(ngModel)]="userReview.revieweeName"/>
            </div>
            <div class="form-group col-md-4">
                <label class="mb-2" for="rating">Overall Rating</label>
            </div>
            <select id="rating" class="form-control d-inline" style="width:140px" [(ngModel)]="userReview.overallRating">
                <option value=1>1 star</option>
                <option value=2>2 star</option>
                <option value=3>3 star</option>
                <option value=4>4 star</option>
                <option value=5>5 star</option>
              </select>


          </div>

          <div class="form-row" >
            <div class="col-md-12">
              <div class="forms-group">
                <label class="d-block" for="comments">Comment</label>
                <textarea class="round-edge form-control" id="comments" name="comments" [(ngModel)]="userReview.comment"></textarea>
              </div>
            </div>
          </div>
          <div class="form-row mt-2">
            <div class="col-md-12">
                <input type="submit" (click)="addReview()" class=" btn btn-success" value="Submit" />
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

