<section class="review-box">

	<section class="review-metadata">

		<div class="review-metadata-employment-information">

			<h2>{{ review.jobTitle }}</h2>
			<h3>{{ review.employer }}</h3>

		</div>

		<p>{{ review.datestamp | date:'longDate' }}</p>

	</section>

	<section class="review-comment">

		<p>{{ review.comment }}</p>

		<section class="inline-ratings-group">

			<div class="inline-rating">

				<div class="inline-rating-text">
					Hotness:
					<strong>{{ review.hotnessRating / 100 | percent }}</strong>
				</div>

				<div class="inline-rating-bar" aria-rating="true">

					<div
					 class="inline-rating-bar-filled"
					 [ngStyle]="{
					 	'background-color': rg.ratingGradient(review.hotnessRating / 100),
					 	'width': rg.ratingWidth(review.hotnessRating)
					 }"
					></div>

				</div>

			</div>

			<div class="inline-rating">

				<div class="inline-rating-text">
					Accountability:
					<strong>{{ review.accountabilityRating / 100 | percent }}</strong>
				</div>

				<div class="inline-rating-bar" aria-rating="true">

					<div
					 class="inline-rating-bar-filled"
					 [ngStyle]="{
					 	'background-color': rg.ratingGradient(review.accountabilityRating / 100),
					 	'width': rg.ratingWidth(review.accountabilityRating)
					 }"
					></div>

				</div>

			</div>

			<div class="inline-rating">

				<div class="inline-rating-text">
					Politeness:
					<strong>{{ review.politenessRating / 100 | percent }}</strong>
				</div>

				<div class="inline-rating-bar" aria-rating="true">

					<div
					 class="inline-rating-bar-filled"
					 [ngStyle]="{
					 	'background-color': rg.ratingGradient(review.politenessRating / 100),
					 	'width': rg.ratingWidth(review.politenessRating)
					 }"
					></div>

				</div>

			</div>

			<div class="inline-rating">

				<div class="inline-rating-text">
					Efficiency:
					<strong>{{ review.efficiencyRating / 100 | percent }}</strong>
				</div>

				<div class="inline-rating-bar" aria-rating="true">

					<div
					 class="inline-rating-bar-filled"
					 [ngStyle]="{
					 	'background-color': rg.ratingGradient(review.efficiencyRating / 100),
					 	'width': rg.ratingWidth(review.efficiencyRating)
					 }"
					></div>

				</div>

			</div>

		</section>

	</section>

</section>
