<section class="review-box">

	<section class="review-metadata">

		<div class="review-metadata-employment-information">

			<h2>{{ review.jobTitle }}</h2>
			<h3>{{ review.employer }}</h3>

		</div>

		<p>{{ review.datestamp | date:'longDate' }}</p>

	</section>

	<section class="review-comment">

		<p>{{ review.comment }}</p>

		<table>

			<thead>
				<tr>
					<th scope="col">Accountability</th>
					<th scope="col">Availability</th>
					<th scope="col">Politeness</th>
					<th scope="col">Efficiency</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ review.accountabilityRating }}</td>
					<td>{{ review.availabilityRating }}</td>
					<td>{{ review.politenessRating }}</td>
					<td>{{ review.efficiencyRating }}</td>
				</tr>
			</tbody>

		</table>

<!-- 		<div>
			<p>Accountability: {{ review.accountabilityRating }}</p>
		</div>

		<div>
			<p>Availability: {{ review.availabilityRating }}</p>
		</div>

		<div>
			<p>Politeness: {{ review.politenessRating }}</p>
		</div>

		<div>
			<p>Efficiency: {{ review.efficiencyRating }}</p>
		</div> -->

	</section>

</section>
